/*
 -  Master styles
 -
 -  This file defines <html> and <body> styles.
 */

html,
body {
	@include selection;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	position: relative;
}

body {
	min-height: 400px;
	background: linear-gradient(90deg, $secondary 0%, $primary 100%);
}