/*
 -  Master styles
 -
 -  This file defines html elements styles.
 */

ul {
	margin-bottom: $unordered-list-margin-bottom;
}

ol {
	margin-bottom: $ordered-list-margin-bottom;
}

img {
	margin-bottom: $image-margin-bottom;
}