/*
 -  Content
 */

.content {
	height: 100%;
	display: flex;
	align-items: center;

	h1 {
		margin-bottom: ( $grid-gutter-width / 2 );

		& > span {
			display: inline-block;
			border: 3px solid $theme-white;
			padding: ( $grid-gutter-width / 10 ) ( $grid-gutter-width / 5 );
		}
	}
}