/*
 -  Theme variables
 -
 -  This file defines new variables and extends standards variables from Bootstrap.
 */

// Try to organize variables in named block groups with certain concern
// Colors
$theme-white:                   #fff;                              // Pure white color
$theme-black:                   #000;                              // Pure black color
$theme-blue:                    #007bff;

$theme-bg:                      #00adef;
$primary:                       #00adef;
$secondary:                     #8dc53e;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$icons: (
	'arrow-down',
	'arrow-right',
	'arrow-up',
	'arrow-left'
);

// General styling
$ordered-list-margin-bottom:      1rem;
$unordered-list-margin-bottom:    1rem;

$image-margin-bottom:             1rem;


/*
 -  Liferay theme variables
 -
 -  This variables needs to be set for Liferay to work properly with custom styles
 -  {$lf-class} - standard class in liferay theme
 -  {$theme-class} - custom class to add specificity and overwrite liferay theme
 */

$lf-class:                      '.aui';
$theme-class:                   '.lundegaard';

$grid-gutter-width:             40px;

$body-bg:                       $theme-bg;
$text-color:                    $theme-white;
$body-color:                    $theme-white;

$disabled-opacity:              .38;
$disabled-color:                $body-color;

$link-color:                    $theme-white !default;
$link-decoration:               underline !default;
$link-hover-color:              $theme-white !default;
$link-hover-decoration:         none !default;

$small-font-size:               70% !default;


// Javascript export
/* stylelint-disable */
:export {
	gutterWidth: $grid-gutter-width;
	screenSM: map-get( $grid-breakpoints, 'sm' );
	screenMD: map-get( $grid-breakpoints, 'md' );
	screenLG: map-get( $grid-breakpoints, 'lg' );
	screenXL: map-get( $grid-breakpoints, 'xl' );
	primaryColor: $primary;
	secondaryColor: $secondary;
}