<main class="content">
	<div class="container">
		<noscript>
			<div class="row">
				<div class="col-12">
					<div class="js-disclaimer">
						<div class="alert alert--border alert-warning">
							Máte vypnutý nebo nedostupný JavaScript.
						</div>
					</div>
				</div>
			</div>
		</noscript>
		<div class="row">
			<div class="col-12">
				<div class="text-center">
					<h1>Doména <span id="domain-name">----.--</span> je k&nbsp;dispozici.</h1>
					<p>V&nbsp;případě zájmu nás kontaktujte na&nbsp;e-mailu <a href="mailto:josef.bukovsky@lundegaard.eu">josef.bukovsky@lundegaard.eu</a>.</p>
				</div>
			</div>
		</div>
	</div>
</main>