<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="text-center">
					<p>
						<small>
							Lundegaard&nbsp;a.s. | Futurama Business Park, Sokolovská&nbsp;651/136A, 186&nbsp;00 Praha&nbsp;8&nbsp;-&nbsp;Karlín | IČ:&nbsp;25687221, DIČ:&nbsp;CZ25687221
						</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>