/*
 - Custom Print Styles
 -
 - This styles is applied only when user is printing out web page from browser.
 - Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
 */

@import '01_config/variables';                                           // Variables
@import '01_config/mixins';                                              // Mixins
@import '01_base/icons';                                                 // Icons
@import '01_base/typography';                                            // Typography
// @import '01_base/scaffolding';                                           // Root and body elements

/* stylelint-disable-next-line selector-max-universal */
* {
	/* stylelint-disable-next-line declaration-no-important */
	text-shadow: none !important;
	// Black prints faster: h5bp.com/s
	/* stylelint-disable-next-line declaration-no-important */
	color: $theme-black !important;
	/* stylelint-disable-next-line declaration-no-important */
	background: transparent !important;
	/* stylelint-disable-next-line declaration-no-important */
	box-shadow: none !important;
	/* stylelint-disable-next-line declaration-no-important */
	height: auto !important;
	/* stylelint-disable-next-line declaration-no-important */
	width: auto !important;
	font-size: 1.5rem;
}

a,
a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: ' (' attr(href) ')';
}

abbr[title]:after {
	content: ' (' attr(title) ')';
}

// Don't show links for images, or javascript/internal links
a[href^='javascript:']:after,
a[href^='#']:after {
	content: '';
}

pre,
blockquote {
	border: 1px solid lighten($theme-black, 20%);
	page-break-inside: avoid;
}

thead {
	display: table-header-group; // h5bp.com/t
}

tr,
img {
	page-break-inside: avoid;
}

img {
	/* stylelint-disable-next-line declaration-no-important */
	max-width: 100% !important;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2.1rem;
}

h3 {
	font-size: 1.9rem;
}

h4 {
	font-size: 1.8rem;
}

// Chrome (OSX) fix for https://github.com/twbs/bootstrap/issues/11245
// Once fixed, we can just straight up remove this.
select {
	/* stylelint-disable-next-line declaration-no-important */
	background: $theme-white !important;
}

// Bootstrap components
.navbar {
	display: none;
}

.table {
	td,
	th {
		/* stylelint-disable-next-line declaration-no-important */
		background-color: $theme-white !important;
	}
}

.btn,
.dropup > .btn {
	> .caret {
		/* stylelint-disable-next-line declaration-no-important */
		border-top-color: $theme-black !important;
	}
}

.label {
	border: 1px solid $theme-black;
}

.table {
	/* stylelint-disable-next-line declaration-no-important */
	border-collapse: collapse !important;
}

.table-bordered {
	th,
	td {
		/* stylelint-disable-next-line declaration-no-important */
		border: 1px solid darken($theme-white, 10%) !important;
	}
}